<h1>{{ title }}</h1>

<div>
    <nav>
        <ul>
            <li><a title="Weather" href="/">Weather</a></li>
            <li><a title="About" href="/about">About</a></li>
            <li><a title="Help" href="/help">Help</a></li>
        </ul>
    </nav>
</div>
